html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "josefin sans", sans-serif;
  background-color: #f0f0f0; 
}

.home-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0; 
}

.content {
  flex: 1; 
  padding: 40px 20px;
  box-sizing: border-box;
  background-color: #f0f0f0; 
  display: flex;
  justify-content: flex-start; 
  flex-direction: column;
  gap: 20px;
}

.cadastro-container {
  width: 100%;
  max-width: 1000px;
  margin: 0; 
}

.cadastro-card {
  background: none;
  box-shadow: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cadastro-card h2 {
  text-align: left; 
  color: #333;
  margin-bottom: 10px;
  font-size: 22px;
  font-family: "josefin sans", sans-serif;
}

.cadastro-card h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  color: #444;
}

.cadastro-card label {
  font-size: 14px;
  color: #333;
  display: flex; 
  flex-direction: column;
  align-items: flex-start; 
}

.cadastro-card input,
.cadastro-card textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.pecas-container {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  margin-bottom: 15px;
}

.peca-item {
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}

.inputs-peca {
  display: flex;
  gap: 10px; 
  align-items: center;
}

.peca-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn-remove-peca {
  background-color: #a32009;
  color: #fff;
  border: none;
  padding: 6px 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: 20%;
  text-align: center;
  transition: background 0.3s;
}

.btn-remove-peca:hover {
  background-color: #621406;
}

.btn-add-peca {
  background-color: #a32009;
  color: #fff;
  border: none;
  width: 50%;
  max-width: 400px;
  margin: 10px auto;
  display: block;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
}

.btn-add-peca:hover {
  background-color: #621406;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px; 
  margin-top: 20px;
}

.register-btn,
.cancel-btn {
  width: 200px; 
  padding: 8px 5; 
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.register-btn {
  background-color: #a32009;
  color: #fff;
}

.cancel-btn {
  background-color: #ccc;
  color: #333;
}

.register-btn:hover {
  background-color: #621406;
}

.cancel-btn:hover {
  background-color: #797979;
}

.cadastro-card label.checkbox {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  gap: 8px;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

/* Ajuste checkbox */
.checkbox-label {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  gap: 10px; 
  margin-top: 15px; 
  font-family: "josefin sans", sans-serif;
}

.checkbox-container input[type="checkbox"] {
  transform: scale(1.1);
  margin: 0;
  padding: 0;
}

.servico-select {
  width: 1000px;
  padding: 6px 10px; 
  margin-top: 5px; 
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.peca-select-input {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: "josefin sans", sans-serif;
  color: #333;
  box-sizing: border-box;
  height: 34px;
  line-height: 1.2;
  vertical-align: middle;
  flex-grow: 1;
  background-position: right 8px center;
  transform: translateY(1.5px);
  align-self: center;
}
.input-bloqueado:disabled {
  background-color: #e5e5e5;
  color: #666;
  cursor: not-allowed;
}

.input-bloqueado {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.valor-total {
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
  color: #444;
}