.edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.profile-banner {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.edit-profile-form {
    background-color: rgba(217, 217, 217, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.edit-profile-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.edit-profile-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.edit-profile-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #f9f9f9;
}

.edit-profile-form button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #A32009;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.edit-profile-form button:hover {
    background-color: #ff5722;
}
