@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

.custom-header {
  background-color: #1f1a16;
  padding: 25px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.09);
  font-family: "Josefin Sans", sans-serif;
}

.custom-header-left {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

.custom-header-left .logo-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-header-left .logo-placeholder img {
  height: 80px;
  width: 80px;
  background: white;
  object-fit: contain;
  border-radius: 50%; 
  border: 2px solid #000; 
  padding: 4px;
  object-position: -3px center;
}

.custom-header-nav {
  display: flex;
  gap: 12px;
}

.nav-link-button {
  background-color: #d98f82;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  min-width: 120px;
  text-align: center;
  height: 10%;
}

.nav-logout-button {
  background-color: #d98f82;
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-top: 0px;
}

.nav-link-button:hover,
.nav-logout-button:hover {
  background-color: #c77b6d;
}
