.development-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* ocupa a maior parte da tela */
}

.development-container h1 {
  font-size: 48px;
  color: #7d3c2d; /* cor marrom escura, combinando com o estilo do site */
  text-align: center;
}
