@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: transparent;
}

.login-card {
  background-color: rgba(217, 217, 217, 0.5);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #A32009;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

button:hover {
  background-color: #861807;
}

.register-link {
  background-color: transparent;
  color: #ff7f50;
  border: 2px solid #ff7f50;
  margin-top: 10px;
  font-weight: bold;
}

.register-link:hover {
  background-color: #ff7f50;
  color: white;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #81816f;
}
