html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.home-container {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 40px 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.filtro-input {
  border: 1px solid #ccc;
  flex: 0 0 600px;
  font-family: "josefin sans", sans-serif;
}

.add-btn {
  background-color: #a32009;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
}

.add-btn:hover {
  background-color: #871b07;
}

.servicos-lista {
  width: 100%;
  max-width: 1000px;
  gap: 10px;
  margin-top: 10px;
}

.servico-linha {
  width: 80%;
  border-radius: 6px;
  padding: 15px /20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  flex-wrap: nowrap;
  gap: 20px;
}

.servico-info {
    display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.servico-img-placeholder {
  width: 150px;
  height: 120px;
  background-color: #e5e5e5;
  border-radius: 6px;
  margin: 0;
  flex-shrink: 0;
}

.servico-detalhes {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 750px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.servico-nome {
  font-size: 17px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.servico-desc {
  word-break: break-word;
  line-height: 1.4;
  font-size: 15px;
  color: #666;
  margin-bottom: 5px;
}

.servico-desc,
.servico-valor,
.servico-garantia {
  font-size: 15px;
  color: #666;
}

.servico-acoes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn-edit {
  background-color: #a32009;
  color: white;
  border: none;
  margin: 5px;
  width: 200px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.3s;
}

.btn-edit:hover {
  background-color: #871b07;
}

.btn-acoes {
  background-color: #ddd;
  color: #333;
  border: none;
  width: 200px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.3s;
}

.btn-acoes:hover {
  background-color: #ccc;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
  align-self: flex-start;
}

.delete-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.delete-button svg {
  font-size: 28px;
  color: #333;
}

.nenhum-servico {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin-top: 30px;
}